.footer-attribution {
    margin-left:0;
    font-size:1.2em;
    p {
      display:inline-block;
      background-color:$sid3car-orange;
      color: $content-color-inverted;
      height:70px;
      padding: 10px;
      padding-left:20px;
    }
  .footer-logo {
    width:100px;
    margin-bottom:-15px;
  }
}
